<div class="container mat-dialog-container">
  <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">{{ title }}</h2>
      <p class="description description-primary">Salon Hair System</p>
      <p class="description description-primary">O seu salão de beleza na palma da sua mão!</p>
    </div>
    <div class="second-column">
      <form class="form" [formGroup]="registerForm" (ngSubmit)="register()">
        <label class="label-input input" for="">
          <i class="far fa-user"></i>
          <input class="input" type="text" placeholder="Nome" formControlName="name">
        </label>

        <label class="label-input input" for="">
          <i class="far fa-envelope"></i>
          <input class="input" type="email" placeholder="E-mail" formControlName="email">
        </label>
        <div class="validator-errors" *ngIf="registerForm?.get('email')?.errors?.['email'] && registerForm?.get('email')?.touched">
          O email inserido não é válido.
        </div>

        <label class="label-input input">
          <i class="fas fa-lock"></i>
          <input class="input" type="password" placeholder="Senha" formControlName="password">
        </label>
        <div class="validator-errors" *ngIf="registerForm?.get('password')?.errors?.['passwordInvalid'] && registerForm?.get('password')?.touched">
          A senha deve ter no mínimo 8 caracteres, um número, uma letra e um caractere especial.
        </div>

        <label class="label-input input">
          <i class="fas fa-lock"></i>
          <input class="input" type="password" placeholder="Repita sua senha" formControlName="confirmPassword">
        </label>
        <div class="validator-errors" *ngIf="registerForm?.errors?.['passwordsNotMatching'] && registerForm?.get('confirmPassword')?.touched">
          As senhas não são iguais.
        </div>

        <button class="btn btn-second" [disabled]="registerForm.invalid">Criar</button>
      </form>
    </div>
  </div>
</div>