<div class="container">
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">Criar conta</h2>
      <p class="description description-primary">Salon Hair System</p>
      <p class="description description-primary">O seu salão de beleza na palma da sua mão!</p>
    </div>
    <div class="second-column">
      <form class="form">
        <label class="label-input" for="">
          <i class="far fa-user"></i>
          <input type="text" placeholder="Nome">
        </label>

        <label class="label-input" for="">
          <i class="far fa-envelope"></i>
          <input type="email" placeholder="E-mail">
        </label>

        <label class="label-input" for="">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Senha">
        </label>

        <label class="label-input" for="">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Repita sua senha">
        </label>

        <button class="btn btn-second">Criar</button>
      </form>
    </div>
  </div>
</div>