h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.background {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 70px;
  height: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  position: relative;
  z-index: 1000;
}

.agenda {
  position: absolute;
  left: 0;
  height: 95%;
}