<div class="container">
    <div class="calendar light">
        <div class="calendar_header">
            <h1 class="header_title">Agenda</h1>
        </div>
        <div class="calendar_plan">
            <div class="cl_plan">
                <div class="cl_title">Hoje</div>
                <div class="cl_copy">22nd April 2018</div>
                <div class="cl_add">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
        </div>
        <div class="calendar_events">
            <p class="ce_title">Próximos Atendimentos</p>
            <div class="event_item">
                <div class="ei_Dot dot_active"></div>
                <div class="ei_Title">10:30</div>
                <div class="ei_Copy">Reunião de segunda-feira com a equipe</div>
            </div>
            <div class="event_item">
                <div class="ei_Dot"></div>
                <div class="ei_Title">12:00</div>
                <div class="ei_Copy">Almoço com os melhores amigos</div>
            </div>
            <div class="event_item">
                <div class="ei_Dot"></div>
                <div class="ei_Title">13:00</div>
                <div class="ei_Copy">Encontro com o cliente para o design final <br> @foofinder</div>
            </div>
            <div class="event_item">
                <div class="ei_Dot"></div>
                <div class="ei_Title">14:30</div>
                <div class="ei_Copy">Planejar noite de evento para inspirar estudantes</div>
            </div>
            <div class="event_item">
                <div class="ei_Dot"></div>
                <div class="ei_Title">15:30</div>
                <div class="ei_Copy">Adicionar mais eventos ao calendário</div>
            </div>
        </div>
    </div>
</div>