<div class="all">
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Entrar</h1>
                <input type="email" placeholder="E-mail" />
                <input type="password" placeholder="Senha" />
                <button>Entrar</button>
                <a href="#">Esqueceu sua senha?</a>
                <a href="#">Cadastrar</a>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <img src="./assets/login_background.png">
            </div>
        </div>
    </div>
</div>